* {
    box-sizing: border-box;
  }

  :root {
    --bg: #b4b4b4;
    --bgcolor: #f9f9f3;

    --desktopwidth: 800px;
    --font: Inconsolata;
  }

  body {
    font-family: Inconsolata;
    font-size: 14px;
    background-color: var(--bgcolor);
    background-image: var(--bgimg);
    margin: 0;
    padding: 0
  }

  #container {
    margin: auto;
    width: 100%;
    max-width: var(--desktopwidth);
    height: 600px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: var(--bgcolor);
    border-radius: 10px;
  }

  aside {
    background-color: bisque;
    flex-grow: 1;
    background-image: url('/assets/graphics/bg/greenie.png');
    background-size: 300px;

  }

  main {
    width: 75%;
  }

  .return{
    font-weight: bold;
    background-color: #bdf01b;
  }

  .entry {
    height: fit-content;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #c5c4c4;
    margin-bottom: 10px;
  }

  .entryheader {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    border-bottom: 1px dotted;
    padding-bottom: 11px;
  }

  .cover {
    width: 14%;
    border-radius: 10px;
    float: left;
    margin: 0px 5px 0 0;
  }

  .info {
    font-family: var(--accentfont);
    width: 85%;
  }

  .info h1 {
    background-color: #bdf01b;
    padding: 4px 5px;
    font-size: 16px;
    margin: 4px;
    margin-top: 4px;
    margin-top: 0;
    font-weight: normal;
    text-transform: uppercase;
  }

  .date {
    display: block;
    color: gray;
    padding-left: 5px;
    border-left: 2px dotted;
    border-bottom: 2px dotted;
    margin-left: 12px;
    border-radius: 5px;
    padding-bottom: 5px;
  }

  .date::before {
    content: url('/assets/graphics/bullets/u25.gif');
    margin-right: 10px;
  }

  .date b {
    font-weight: normal !important;
    text-align: right;
    background-color: gray;
    padding: 2px;
    color: white;
    border-radius: 2px;
  }

  header {
    width: 100%;
    height: 150px;
    background-image: url('/assets/graphics/layout/blogheader.png');
    background-size: 100% 100%;
  }

  .paginate {
    bottom: 10px;
    background-color: var(--container);
    box-sizing: border-box;
    color: var(--light);
    margin: 2px 5px;
    margin-top: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-radius: 5px;
    overflow: hidden;

  }

  .paginate a {
    color: white;
    text-decoration: none;
    background-color: #bdf01b;
  }


  /* Inline | http://127.0.0.1:5500/blog */

  #container {
    align-content: baseline;
  }

  main {
    min-height: 455px;
  }

/* Inline | https://freakphone.net/blog/index.php?page=1 */

.readme {
  display: block;
  text-align: right;
  background: white;
  color: black;
  font-weight: bold;
}

.readme::before{
  content: url('/assets/graphics/pixels/read.gif')
}

/* style.css | https://freakphone.net/blog/style.css */

:root {
  /* --font: ms Pgothic; */
  --font: consolas;
}

body {
  /* font-size: 14px; */
  font-size: 13px;
}


/* style.css | https://freakphone.net/blog/style.css */

main {
  /* min-height: 455px; */
  min-height: 100vh;
}

aside {
  background-attachment: fixed;
  background-position-x: 0px;
  background-position-y: 14px;
}

header {
  position: sticky;
  top: 0;
}


.entry ul li {
  list-style: none;
  margin-bottom: 5px;
}

.entry ul li::before {
  content: "❖";
  margin-right: 5px;
  color: #acac55;
  font-size: 17px;
  font-weight: bold;
}

.entry ul {
  padding-left: 14px;
}