@import url('https://fonts.googleapis.com/css2?family=BioRhyme&family=Chango&family=Grandstander&family=Itim&family=Karla&family=Krona+One&family=Maven+Pro:wght@700&family=Nunito&family=Poppins:wght@200&family=Sanchez&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme&family=Chango&family=Grandstander&family=IBM+Plex+Sans:wght@300&family=Itim&family=Karla&family=Krona+One&family=Maven+Pro:wght@700&family=Nunito&family=Poppins:wght@200&family=Sanchez&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* BioRhyme Chango Grandstander Itim Karla Krona One Maven Pro Poppins Nunito Sanchez IBM Plex Sans IBM Plex Serif Manrope */
@font-face {
  font-family: ank24;
  src: url("/assets/fonts/ank24.woff");
}
@font-face {
  font-family: Cinetype;
  src: url("/assets/fonts/GT-Cinetype-Bold.ttf");
}
@font-face {
  font-family: argentpixel;
  src: url("https://www.dl.dropboxusercontent.com/s/1yqerxkqh61qidh/ArgentPixelCF-Regular.woff");
}
@font-face {
  font-family: hypik;
  src: url("https://www.dl.dropboxusercontent.com/s/77s3fqmbeah51gc/Octuple-max-demo.ttf");
}
@font-face {
  font-family: BlackNebula;
  src: url("https://www.dl.dropboxusercontent.com/s/mlxsicwrdjipx9a/blacknebula.ttf");
}
@font-face{
      font-family: 'pixelverdana';
      src: url("https://www.dl.dropboxusercontent.com/s/b6tkaqlohr4t676/pixelfjverdana12pt.woff");
      }
@font-face {
  font-family: 'xga';
  src: url("https://www.dl.dropboxusercontent.com/s/s1smujtv0p2754s/xga.woff");
}
@font-face{
  font-family: 'chrysuni';
  src: url("https://www.dl.dropboxusercontent.com/s/bbl4oaggzrv0ttj/chrysuni.ttf");
}
@font-face {
  font-family: astrii;
  src: url("https://www.dl.dropboxusercontent.com/s/hm04znu47jahgzj/ASTRII__.TTF");
}

@font-face {
  font-family: sixtwonine;
  src: url("https://www.dl.dropboxusercontent.com/s/vn7e0h8cnce3ohh/0629____.TTF");
}

@font-face {
  font-family: pixel;
  src: url("https://www.dl.dropboxusercontent.com/s/5y91els6urmdqas/INVASION2000.TTF");
}

@font-face {
  font-family: pixelbody;
  src: url("https://www.dl.dropboxusercontent.com/s/uovx146aitb6s70/Pixolletta8px.ttf");
}

@font-face {
  font-family: basiic;
  src: url("https://www.dl.dropboxusercontent.com/s/lqgk8mb77cgypql/basiic.ttf");
}

@font-face {
  font-family: pixel pirate;
  src: url("https://www.dl.dropboxusercontent.com/s/wb0h0z9f2iuyhw8/pixel_pirate.ttf");
}

@font-face {
  font-family: gothicpixels;
  src: url("https://www.dl.dropboxusercontent.com/s/ap98aahb7kzwqwj/GothicPixels.ttf");
}

@font-face {
  font-family: romancea;
  src: url("https://www.dl.dropboxusercontent.com/s/wo78057y0d8yc0d/RomanceA.ttf");
}

@font-face {
  font-family: mamemoji;
  src: url("https://www.dl.dropboxusercontent.com/s/zrix32loiy4c1k7/mamemoji.ttf");
}

@font-face {
  font-family: igari;
  src: url("https://www.dl.dropboxusercontent.com/s/gk840uth0bbgfxv/Igiari.ttf");
}

@font-face {
  font-family: daydream;
  src: url("https://www.dl.dropboxusercontent.com/s/dy8tn6ptmmcwdnn/Daydream.ttf");
}

@font-face {
  font-family: terminal;
  src: url("https://www.dl.dropboxusercontent.com/s/tecc6oujtnzlrcg/terminal-grotesque.ttf");
}

@font-face {
  font-family: dpcom;
  src: url("https://www.dl.dropboxusercontent.com/s/3rg86tgj8ud8r4q/dpcomic.ttf");
}

@font-face {
  font-family: paganini;
  src: url("https://www.dl.dropboxusercontent.com/s/nnhie6uv248b5of/Paganini_UNZ1.ttf");
}

@font-face {
  font-family: werbedeutsch;
  src: url("https://www.dl.dropboxusercontent.com/s/rfup4nl5s385s0q/WerbedeutschUNZ1L.ttf");
}

@font-face {
  font-family: baubau;
  src: url("https://www.dl.dropboxusercontent.com/s/60wiesp4798au1i/BAUBAU.TTF");
}

@font-face {
  font-family: basteleur;
  src: url("https://www.dl.dropboxusercontent.com/s/l1j1bhwtl21no5b/Basteleur-Bold.otf");
}

@font-face {
  font-family: milkywell;
  src: url("https://www.dl.dropboxusercontent.com/s/ma6qetiw8bkdcfr/MilkyWell.ttf");
}

@font-face {
  font-family: fancyballoons;
  src: url("https://www.dl.dropboxusercontent.com/s/c53yowfveebeq0z/Fancy%20Balloons.ttf");
}

@font-face {
  font-family: Debussy;
  src: url("https://www.dl.dropboxusercontent.com/s/trju8rp6yhbuesb/Debussy.ttf");
}

@font-face {
  font-family: surfism1;
  src: url("https://www.dl.dropboxusercontent.com/s/zn7bl189ecaxx8k/D3Surfism_IO.ttf");
}

@font-face {
  font-family: surfism2;
  src: url("https://www.dl.dropboxusercontent.com/s/ansdqhlric5bpwk/D3Surfism_I.ttf");
}

@font-face {
  font-family: badloc;
  src: url("https://www.dl.dropboxusercontent.com/s/n9au7jmy322d994/Badloc%20ICG%20Compressed.ttf");
}
@font-face {
  font-family: pixtalic;
  src: url("https://www.dl.dropboxusercontent.com/s/wy5n7vov9vc3eg9/FT88-Italic.otf");
}
@font-face {
  font-family: gothique;
  src: url("https://www.dl.dropboxusercontent.com/s/84ycy2eue7by11a/FT88-Gothique.otf");
}

@font-face {
  font-family: fredella;
  src: url("https://www.dl.dropboxusercontent.com/s/ud7ra54scq2rzj6/Fredella.otf");
}
@font-face {
  font-family: balsamiq regular;
  src: url("https://www.dl.dropboxusercontent.com/s/j1si145su9e9ilq/BalsamiqSans-Regular.ttf");
}
@font-face {
  font-family: balsamiq bolditalic;
  src: url("https://www.dl.dropboxusercontent.com/s/0d0jh83e3t32h0e/BalsamiqSans-BoldItalic.ttf");
}
@font-face {
  font-family: balsamiq bold;
  src: url("https://www.dl.dropboxusercontent.com/s/jgoo40k6kw2vq7l/BalsamiqSans-Bold.ttf");
}
@font-face {
  font-family: cherryswash;
  src: url("https://www.dl.dropboxusercontent.com/s/sb0buptbl40hnkx/CherrySwash-Regular.ttf");
}
@font-face {
  font-family: cherryswash bold;
  src: url("https://www.dl.dropboxusercontent.com/s/1nxg4hcl6gp7afl/CherrySwash-Bold.ttf");
}
@font-face {
  font-family: basteleur;
  src: url("https://www.dl.dropboxusercontent.com/s/l1j1bhwtl21no5b/Basteleur-Bold.otf");
}
@font-face {
  font-family: trickster;
  src: url("https://www.dl.dropboxusercontent.com/s/6tpy28nf3rvwa9v/Trickster-Reg.otf");
}
@font-face {
  font-family: spratblack;
  src: url("https://www.dl.dropboxusercontent.com/s/19otcp0lsvm1btk/Sprat-CondensedBlack.otf");
}
@font-face {
  font-family: spratbold;
  src: url("https://www.dl.dropboxusercontent.com/s/ueus9dwhjli5xse/Sprat-CondensedBold.otf");
}
@font-face {
  font-family: savate;
  src: url("https://www.dl.dropboxusercontent.com/s/7j8l9wlkfht0tkk/savate-regular.otf");
}
@font-face {
  font-family: savateitalic;
  src: url("https://www.dl.dropboxusercontent.com/s/j80k9yxzbu8e7d6/savate-italique.otf");
}
@font-face {
  font-family: career;
  src: url("https://www.dl.dropboxusercontent.com/s/i8pv0eh3ogdcpze/Career.otf");
}
@font-face {
  font-family: codex;
  src: url("https://www.dl.dropboxusercontent.com/s/80w0b0vrxcqyk69/CODE3X.TTF");
}
@font-face {
  font-family: pretoria;
  src: url("https://www.dl.dropboxusercontent.com/s/dn3van6m0js3tq2/Pretoria.ttf");
}
@font-face {
  font-family: spratextblack;
  src: url("https://www.dl.dropboxusercontent.com/s/adg996zjnf33pom/Sprat-ExtendedBlack.otf");
}
@font-face {
  font-family: spratextbold;
  src: url("https://www.dl.dropboxusercontent.com/s/o0sc6tpdx2t9ked/Sprat-ExtendedBold.otf");
}
@font-face {
  font-family: jawbhard;
  src: url("https://www.dl.dropboxusercontent.com/s/5g5wef131ulsjoz/jawbhard.ttf");
}
@font-face {
  font-family: phorfeis;
  src: url("https://www.dl.dropboxusercontent.com/s/sgmdbh667ecbspr/phorfeis.ttf");
}
@font-face {
  font-family: phorfeir;
  src: url("https://www.dl.dropboxusercontent.com/s/ui2n363ln62alwk/phorfeir.ttf");
}
@font-face {
  font-family: planetestyle;
  src: url("https://www.dl.dropboxusercontent.com/s/0b1380hw1sssqr9/planet%20estyle.TTF");
}
@font-face {
  font-family: bubbci;
  src: url("https://www.dl.dropboxusercontent.com/s/xz7ju19ns4ay4r9/BUBBCI.ttf");
}

@font-face {
  font-family: neuropol;
  src: url("https://www.dl.dropboxusercontent.com/s/x3qkogrr5xisza4/neuropol.ttf");
}
@font-face {
  font-family: neuropolbold;
  src: url("https://www.dl.dropboxusercontent.com/s/qvavv2l2kgoo138/Neuropol%20Bold.ttf");
}
@font-face {
  font-family: captainp;
  src: url("https://www.dl.dropboxusercontent.com/s/2h66vh786rgza3n/CAPTAINP.TTF");
}
@font-face {
  font-family: abc;
  src: url("placeholder");
}
@font-face {
  font-family: teknrn;
  src: url("https://www.dl.dropboxusercontent.com/s/moehpg7ngwj0l0n/TEKNRN_.TTF");
}@font-face {
  font-family: iperion;
  src: url("https://www.dl.dropboxusercontent.com/s/zp163boe4scbcxh/Iperion.otf");
}@font-face {
  font-family: nationalyze;
  src: url("https://www.dl.dropboxusercontent.com/s/an0hzhnalb8185w/Nationalyze-ALP.ttf");
}@font-face {
  font-family: celluloid1;
  src: url("https://www.dl.dropboxusercontent.com/s/mqmjtnw9i70wc18/2100CELLULOID-ALP30.ttf");
}@font-face {
  font-family: celluloid2;
  src: url("https://www.dl.dropboxusercontent.com/s/ioyb18znqtfybkk/2100CELLULOID-ALP38.ttf");
}@font-face {
  font-family: polyester;
  src: url("https://www.dl.dropboxusercontent.com/s/2fnxdq67qwax5yv/2070POLYESTER-ALP53.ttf");
}@font-face {
  font-family: plastic;
  src: url("https://www.dl.dropboxusercontent.com/s/91bkrmwncnszagw/2051PLASTIC-ALP53.otf");
}@font-face {
  font-family: gravity;
  src: url("https://www.dl.dropboxusercontent.com/s/didk9uiwhszjzn4/Gravity.TTF");
}@font-face {
  font-family: blkmetal;
  src: url("https://www.dl.dropboxusercontent.com/s/07ncpaz94obptll/XXII%20Ultimate-Black-Metal.ttf");
}@font-face {
  font-family: mirage;
  src: url("https://www.dl.dropboxusercontent.com/s/yju0krhcpea6g29/SolideMirage-Etroit.otf");
}@font-face {
  font-family: pillowlava;
  src: url("https://www.dl.dropboxusercontent.com/s/ktu33l3930hwujn/Pilowlava-Regular.otf");
}@font-face {
  font-family: trickster;
  src: url("https://www.dl.dropboxusercontent.com/s/6tpy28nf3rvwa9v/Trickster-Reg.otf");
}@font-face {
  font-family: cyclops;
  src: url("https://www.dl.dropboxusercontent.com/s/itk6su80kay5t3x/CYCLOPS.TTF");
}@font-face {
  font-family: kelsifill;
  src: url("https://www.dl.dropboxusercontent.com/s/8s660d3djsvf8l8/Kelsi-fill.otf");
}@font-face {
  font-family: kelsioutline;
  src: url("https://www.dl.dropboxusercontent.com/s/vj65w636bhk54vl/Kelsi-Regular.otf");
}@font-face {
  font-family: erotique;
  src: url("https://www.dl.dropboxusercontent.com/s/jt3jnh5ksv8yf92/ErotiqueTrial-Bold.ttf");
}@font-face {
  font-family: erotiqueregular;
  src: url("https://www.dl.dropboxusercontent.com/s/4b96ihe56g7z20x/ErotiqueTrial-Regular.ttf");
}@font-face {
  font-family: erotique2bold;
  src: url("https://www.dl.dropboxusercontent.com/s/0g9ni6083n5bif1/ErotiqueAlternateTrial-Bold.ttf");
}@font-face {
  font-family: erotique2regular;
  src: url("https://www.dl.dropboxusercontent.com/s/6gkhgc4nfla8bss/ErotiqueAlternateTrial-Regular.ttf");
}@font-face {
  font-family: tommy;
  src: url("https://www.dl.dropboxusercontent.com/s/62ybabdmafby5bd/tommy%20font.otf");
}@font-face {
  font-family: nec;
  src: url("https://www.dl.dropboxusercontent.com/s/txin099acr74b6f/Web437_NEC_APC3_8x16.woff");
}@font-face {
  font-family: nec2;
  src: url("https://www.dl.dropboxusercontent.com/s/zcsxbz6qteqi1rn/Px437_NEC_APC3_8x16.ttf");
}
@font-face {
  font-family: sanchez;
  src: url("https://www.dl.dropboxusercontent.com/s/0nsbdqwkrcbcsc1/Sanchez-Regular.ttf");
}
@font-face {
  font-family: starife;
  src: url("https://www.dl.dropboxusercontent.com/s/c5r7qhsjjvgc227/StarifeDemo.otf");
}
@font-face {
  font-family: gabriele;
  src: url("https://www.dl.dropboxusercontent.com/s/sqibqhp26gq2dwp/gabriele-bad.ttf");
}
@font-face {
  font-family: oldnewspaper;
  src:url("https://www.dl.dropboxusercontent.com/s/9558s8tiya0z4r8/OldNewspaperTypes.ttf");
}
@font-face {
  font-family: momstype;
  src:url("https://www.dl.dropboxusercontent.com/s/7wzu2vy68bq4ej4/Moms_typewriter.ttf");
}
@font-face {
  font-family: veterantype;
  src:url("https://www.dl.dropboxusercontent.com/s/b0innk4x2877vwp/veteran%20typewriter.ttf");
}
@font-face {
  font-family: telegraphem;
  src:url("https://www.dl.dropboxusercontent.com/s/seiaqnffs52lwuj/Telegraphem.otf");
}
@font-face {
  font-family: erika;
  src:url("https://www.dl.dropboxusercontent.com/s/g3fetsnf7azwpow/Erika%20Ormig.ttf");
}
@font-face {
  font-family: stampwriter;
  src:url("https://www.dl.dropboxusercontent.com/s/euq8xjvtb3r0fjk/STAMPWRITER-KIT.ttf");
}
@font-face {
  font-family: poisongum;
  src:url("https://www.dl.dropboxusercontent.com/s/sz6yua43jci1biz/PoisonGum.otf");
}
@font-face {
  font-family: cybaninglitch;
  src:url("https://www.dl.dropboxusercontent.com/s/d5a0lqfnvavy5z8/Cybanin3000-Glitch.otf");
}
@font-face {
  font-family: cybaninround;
  src:url("https://www.dl.dropboxusercontent.com/s/rkr0z6c6lsjc2xu/Cybanin3000-Rounded.otf");
}
@font-face {
  font-family: cybanin;
  src:url("https://www.dl.dropboxusercontent.com/s/5lfg757o7zapjuo/Cybanin3000.otf");
}
@font-face {
  font-family: kamisoritalic;
  src:url("https://www.dl.dropboxusercontent.com/s/k472hbdlmbu3geh/KamisoriChablis-Italic.otf");
}
@font-face {
  font-family: kamisori;
  src:url("https://www.dl.dropboxusercontent.com/s/67z5kb1dof72yo9/KamisoriChablis.otf");
}
@font-face {
  font-family: kishimen;
  src:url("https://www.dl.dropboxusercontent.com/s/xpzt3rv3ihqkjtp/KishimenSword.otf");
}
@font-face {
  font-family: neoclassicalgothslim;
  src:url("https://www.dl.dropboxusercontent.com/s/9hw74zk0tjia8jj/NeoClassicalGoth-Slim.otf");
}
@font-face {
  font-family: neoclassicalgothmelty;
  src:url("https://www.dl.dropboxusercontent.com/s/1c7ktv54yc28pjk/NeoClassicalGoth-Melty.otf");
}
@font-face {
  font-family: neoclassicalgoth;
  src:url("https://www.dl.dropboxusercontent.com/s/f4ass1e0p3lgman/NeoClassicalGoth.otf");
}
@font-face {
  font-family: priprifugring;
  src:url("https://www.dl.dropboxusercontent.com/s/y43796qknhcp2mc/PriPriFugring.otf");
}
@font-face {
  font-family: priprifugringitalic;
  src:url("https://www.dl.dropboxusercontent.com/s/ptjpmvagsuuzxod/PriPriFugring-Italic.otf");
}
@font-face {
  font-family: protorca;
  src:url("https://www.dl.dropboxusercontent.com/s/g90n2ceqwh3lmw0/ProtOrca.otf");
}
@font-face {
  font-family: psychohacker;
  src:url("https://www.dl.dropboxusercontent.com/s/5m63lyedexcps35/PsychoHacker.otf");
}
@font-face {
  font-family: sorikomisans;
  src:url("https://www.dl.dropboxusercontent.com/s/wlpjlei9bgeihoq/SorikomiSansSerif.otf");
}
@font-face {
  font-family: sorikomisansitalic;
  src:url("https://www.dl.dropboxusercontent.com/s/luvix1bcup6qgvg/SorikomiSansSerif-Italic.otf");
}
@font-face {
  font-family: toywritermop;
  src:url("https://www.dl.dropboxusercontent.com/s/jt4f1xyjsh4zxl4/ToyWriterMop.otf");
}
@font-face {
  font-family: toywritermopdrip;
  src:url("https://www.dl.dropboxusercontent.com/s/df57liydl7b7ave/ToyWriterMop-Drip.otf");
}
@font-face {
  font-family: typerdecal;
  src:url("https://www.dl.dropboxusercontent.com/s/j84yiumbzqlgldv/TypeR-Decal.otf");
}
@font-face {
  font-family: typer;
  src:url("https://www.dl.dropboxusercontent.com/s/j6uy0s77g2kp43i/TypeR.otf");
}
@font-face {
  font-family: dorisorange regular;
  src: url("https://www.dl.dropboxusercontent.com/s/m4by5htns1e4bgp/DorisOrange%20Regular.ttf");
}
@font-face {
  font-family: dorisorange medium;
  src: url("https://www.dl.dropboxusercontent.com/s/vdrqhqgq7afw24v/DorisOrange%20Medium.ttf");
}
@font-face {
  font-family: dorisorange juicy;
  src: url("https://www.dl.dropboxusercontent.com/s/xwv54t6xjuxs2fu/DorisOrange%20Juicy%20Regular.otf");
}
@font-face {
  font-family: bjork;
  src: url("https://www.dl.dropboxusercontent.com/s/59kwegpt51ejcez/BJORKFON.ttf");
}

@font-face {
  font-family: pandub;
  src: url("https://www.dl.dropboxusercontent.com/s/50q130evkmzklt3/PANDUB__.TTF");
}
@font-face{
  font-family: hanged;
src: url("https://www.dl.dropboxusercontent.com/s/tkpc3xgjhsku811/Hanged%20Letters.ttf");}
@font-face {
  font-family: panic;
src: url("https://www.dl.dropboxusercontent.com/s/02wgk95qclv1zca/Panic.ttf");}

@font-face {
  font-family: caran;
  src: url("https://www.dl.dropboxusercontent.com/s/gdutbw80z0oowke/CARAN___.TTF");
}
@font-face {
  font-family: popmagic;
  src: url("https://www.dl.dropboxusercontent.com/s/zw52iwx5t67vuk8/GAU_pop_magic.TTF");
}
@font-face {
  font-family: honeu;
  src: url("https://www.dl.dropboxusercontent.com/s/oyf0mupfkydhp8w/HONEU.TTF");
}
@font-face {
  font-family: honeb;
  src: url("https://www.dl.dropboxusercontent.com/s/mqd3kdfinzep42c/HONEB.TTF");
}
@font-face {
  font-family: bluunext;
  src: url("https://www.dl.dropboxusercontent.com/s/cx5pa90slf6ub79/BluuNext-Bold.otf");

}
@font-face {
  font-family: arcade;
  src: url("https://www.dl.dropboxusercontent.com/s/dzlz76vehjbomli/Arcade.otf");

}
@font-face {
  font-family: zara;
  src: url("https://www.dl.dropboxusercontent.com/s/4ms5a14lf5kcytj/zarathustra-v01.otf");
}
@font-face {
  font-family: venice;
  src: url("https://www.dl.dropboxusercontent.com/s/4hn7nt0bwbvn76c/VeniceClassic.ttf");

}
@font-face {
      font-family: psyche;
      src: url("https://www.dl.dropboxusercontent.com/s/kzwtq0c1dpkel98/PsycheLover-Regular.otf");
  }
@font-face {
  font-family: font98;
  src: url("https://www.dl.dropboxusercontent.com/s/ogmicd7ib54od3t/98font.woff");
}
/* */

@font-face {
  font-family: zero;
  src: url("/assets/fonts/000webfont.ttf");
}
@font-face {
  font-family: bangalore;
  src: url("/assets/fonts/Bangalore.ttf");
}
@font-face {
  font-family: battlenet;
  src: url("/assets/fonts/battlenet.ttf");
}
@font-face {
  font-family: birdy;
  src: url("/assets/fonts/Birdy.ttf");

}
@font-face {
  font-family: cdicon;
  src: url("/assets/fonts/CD-IconsPC.ttf");

}

@font-face {
  font-family: emojifont;
  src: url("/assets/fonts/EmojiFont.ttf");
}

@font-face {
  font-family: ft88serif;
  src: url("/assets/fonts/FT88-Serif.otf");
}

@font-face {
  font-family: helvetipixel;
  src: url("/assets/fonts/HelvetiPixel.ttf");
}

@font-face {
  font-family: hour;
  src: url("/assets/fonts/hour.ttf");
}

@font-face {
  font-family: iconbitone;
  src: url("/assets/fonts/IconBitOne.ttf");

}

@font-face {
  font-family: iconbittwo;
  src: url("/assets/fonts/IconBitTwo.ttf");
}

@font-face {
  font-family: lastpriestess;
  src: url("/assets/fonts/LastPriestess.ttf");

}

@font-face {
  font-family: mystery;
  src: url("/assets/fonts/Mystery.otf");

}

@font-face {
  font-family: dsbios;
  src: url("/assets/fonts/Nintendo-DS-BIOS.ttf");

}

@font-face {
  font-family: pixifont;
  src: url("/assets/fonts/Pixifont2-Regular.ttf");

}

@font-face {
  font-family: virale;
  src: url("/assets/fonts/virale.ttf");
}

@font-face {
  font-family: yoster;
  src: url("/assets/fonts/yoster.ttf");

}

@font-face {
  font-family: positions;
  src: url("/assets/fonts/PositionsByArixbored-Regular.otf");
}

@font-face {
  font-family: lastpriestess;
  src: url("https: //www.dl.dropboxusercontent.com/scl/fi/glahzrna8o8wjkz8kectq/LastPriestess.ttf");

}
@font-face {
  font-family: alagard;
  src: url("https: //www.dl.dropboxusercontent.com/scl/fi/qsjyy1paqain6xzgsfbg0/alagard.ttf");

}
@font-face {
  font-family: prime;
  src: url("/assets/fonts/CourierPrimeCode.ttf");

}
@font-face {
  font-family: morningtea;
  src: url("/assets/fonts/MorningTea.ttf");
}
@font-face {
  font-family: batang;
  src: url("/assets/fonts/batang.ttf");
}
@font-face {
  font-family: spacemono;
  src: url("/assets/fonts/SpaceMono-Regular.ttf");
}
@font-face {
  font-family: ms mincho;
  src: url("/assets/fonts/MSMINCHO.TTF");
}
@font-face {
  font-family: bisque;
  src: url("/assets/fonts/Bisque.ttf");
}
@font-face {
  font-family: helvetica condensed;
  src: url('/assets/fonts/helvetica_condensed.ttf');
}
@font-face {
  font-family: circulate;
  src: url('/assets/fonts/circulat.ttf');
}