    body {
      margin: 0;
      padding: 0;
      font-family: ms ui gothic;
      font-size: 15px;
      background-color: #89D1E4;
    }

    #container {
      width: 750px;
      min-height: 100vh;
      overflow: auto;
      position: relative;
      background-image: url('/assets/graphics/layout/outgoing.png');
      background-repeat: no-repeat;
      background-size: 302px;
      margin: auto;
      background-color: white;
    }

    main {
      position: absolute;
      width: 500px;
      min-height: 401px;
      left: 124px;
      top: 192px;
      border-radius: 7px;
      background-color: white;
    }

    .circles {
      width: 140px;
      height: 45px;
      position: absolute;
      right: 92px;
      top: 158px;
      background-image: url(/assets/graphics/layout/round4.png);
      z-index: 9;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

    #description {
      position: absolute;
      width: 354px;
      height: 133px;
      /* border: 1px solid; */
      left: 314px;
      top: 10px;
    }

    .page {
      box-sizing: border-box;
      margin: 10px;
    }

    summary {
      font-weight: normal;
      background-color: #DCBA5A;
      padding-left: 10px;
      font-size: 1.5em;
    }

    .buttons img {
      width: 88px;
      height: 31px;
    }

    .page2 a {
      font-weight: bold;
      text-transform: capitalize;
      color: #265580;
      text-decoration: none;
      padding-bottom: 2px;
      border-bottom: 1px solid;
      line-height: 1.4;
    }

    .page2 a:visited {
      color: #8f886d;

    }

    .home {
      position: fixed;
      bottom: 0;
      left: 0;
    }

    summary {
      position: relative;
      padding-left: 50px;
      margin: 0;
    }

    summary img {
      position: absolute;
      left: -10px;
      top: -5px;
      filter: drop-shadow(3px 3px #cfced6);
    }

    summary {
      border-top: 1em solid white;
      cursor: pointer;
      margin-bottom: 5px;
      position: sticky;
      top: 0px;
    }


    details summary::-webkit-details-marker,
    details summary::marker {
      display: none;
      content: "";
    }

    summary:after {
      /* background: #ffffff; */
      border-color: #da291c;
      border-radius: 15px;
      content: "+";
      /* color: #fff; */
      float: right;
      font-size: 1em;
      font-weight: bold;
      /* margin: -2px 10px 0 0; */
      /* padding: 1px 0 3px 0; */
      text-align: center;
      width: 30px;
    }

    details[open] summary:after {
      content: "-";
    }

    details a {
      font-weight: bold;
      text-transform: capitalize;
      color: #265580;
      text-decoration: none;
      padding-bottom: 2px;
      border-bottom: 1px solid;
      line-height: 1.4;
    }