:root {
    --font: 13px;
    --light-bg: white;
    --accent1: #99C023;
    --accent2: #8E7DBC;
    --accent3: #FF6F00;
    --accent5: #FFAD00;


    --accent4: #e3e9e9;
  }

  body {
    background-color: var(--light-bg);
    font-size: var(--font);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 800px;
    font-family: prime;
  }

  header {
    width: 100%;
    color: black;

  }

  header h1 {
    font-family: ft88 Extended;
    border-bottom: 3px dashed black;
  }

  header a {
    text-decoration: none;
    color: inherit;
  }

  ul.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    font-weight: bold;

  }

  ul.nav li {
    display: inline-block;
    /* Aligns items horizontally and allows setting width/height */
    /* or display: inline; for simpler horizontal alignment without block-level properties */
    padding: 0 5px;
    /* Adds spacing between list items */

  }

  ul.nav li::before {
    display: inline-block;
    content: "✱";
    margin-right: 5px;
    font-size: 15px;
  }

  .first::before {
    color: var(--accent1);
  }

  .second::before {
    color: var(--accent2);
  }

  .third::before {
    color: var(--accent3);
  }


  /* Inline | http://127.0.0.1:5500/medialog/new/index.html */

  header h1 {
    font-size: 2.5em;
    margin-bottom: 5px;
    padding: 5px 0;
  }

  header {
    margin-bottom: 5px;
  }

  #content {
    display: flex;
  }

  /* Inline | http://127.0.0.1:5500/medialog/new/index.html */

  main {
    /*! display: flex; */
    /*! flex-wrap: wrap; */
    width: 60%;
  }

  aside {
    width: 30%;
    margin-top: -20px;
  }

  #sidebar {
    background-color: var(--accent4);
    padding: 10px;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  #picture {
    background-image: url("/assets/graphics/layout/tamala.gif");
    width: 100%;
    border-radius: 10px;
    height: 159px;

    background-size: cover;
    margin-bottom: 10px;
    /*! box-sizing: border-box; */
  }


  /* Inline | http://127.0.0.1:5500/medialog/new/index.html */

  .mediatitle {
    margin-top: 0;
    border-radius: 5px;
    padding: 5px;
    text-transform: uppercase;
    width: 100%;
  }

  .postlink{
    position: sticky;
    top: 10px;
    width: 100%;
    background-color: white;
    cursor: pointer;
  }

  .movie>.mediatitle,
  .movie>.summary>.infotable b {
    background-color: var(--accent5);
  }

  .movie>.summary>.infotable span {
    border-color: var(--accent5);
  }

  .movie details>.postlink {
    color: var(--accent5);
  }


  .book>.mediatitle,
  .book>.summary>.infotable b {
    background-color: var(--accent1);
  }

  .book>.summary>.infotable span {
    border-color: var(--accent1);
  }

  .book details>.postlink {
    color: var(--accent1);
  }

  .misc>.mediatitle,
  .misc>.summary>.infotable b {
    background-color: var(--accent3);
  }

  .misc>.summary>.infotable span {
    border-color: var(--accent3);
  }

  .misc details>.postlink {
    color: var(--accent3);
  }

  .game>.mediatitle,
  .game>.summary>.infotable b {
    background-color: var(--accent2);
  }

  .game>.summary>.infotable span {
    border-color: var(--accent2);
  }

  .game details>.postlink {
    color: var(--accent2);
  }

  .cover {
    width: 100px;
  }

  .infotable {
    padding: 0;
    margin: 0;
    width: calc(100% - 110px);
    margin-left: 10px;
    list-style: none;
  }

  .infotable b {
    /* display: initial; */
    /* display: inline flow-root list-item; */
    padding: 2px;
    border-radius: 5px;
    margin-right: 10px;
    width: 127px;
    display: inline-block;
    text-align: center;
    font-weight: normal;
    letter-spacing: 2px;
  }

  .rating img {
    height: 23px;
    display: inline-block;
    vertical-align: bottom;
  }

  li span {
    display: inline-block;
    border-bottom: 2px dotted;
    width: 282px;
    border-bottom-color: var(--accent5);
  }

  /* Inline | http://127.0.0.1:5500/medialog/new/index.html */



  main {
    /* width: 60%; */
    width: calc(70% - 10px);
    margin-left: 10px;
  }

  #sidebar {
    height: calc(100% - 160px);
    font-size: 12px;
  }

  #picture {
    /* height: 159px; */
    height: 160px;
  }



  /* Inline | http://127.0.0.1:5500/medialog/new/index.html */

  .summary {
    width: calc(100% - 10px);
    margin-left: 10px;
  }

  /* Inline | http://127.0.0.1:5500/medialog/new/index.html */

  li span {
    /* width: 282px; */
    width: 181px;
  }

  .cover {
    float: left;
    margin-right: 10px;
  }



  /* Inline | http://127.0.0.1:5500/medialog/new/index.html */



  header h1::after {
    content: "";
    background: var(--accent4);
    border-radius: 100%;
    color: var(--base);
    text-shadow: none;
    padding: 5px;
    margin-right: 5px;
    filter: blur(4px);
    width: 390px;
    display: inline-block;
    position: absolute;
    left: -44px;
    height: 69px;
    z-index: -10;
    rotate: -5deg;
    top: 13px;
  }

  /* Inline | http://127.0.0.1:5500/medialog/new/index.html */

  header {
    position: relative;
  }

  header h1 {
    z-index: 10;
    text-shadow: 3px 3px 6px #a2c7d6;
  }



table,
th,
td {
  border: 1px solid black;
  text-align: center;
}

td {
  padding: 5px;
}
table img{
  height: 100px;
}
.summary a{
  text-decoration: none;
  color: inherit;
  padding-bottom: 2px;
  border-bottom: 1px dotted;
  background: #a2c7d6;
}