/*----------------------- Preloader -----------------------*/
#preloader {
position: fixed;
  background-color: #EBECE0;
z-index: 9999 !important;
top:0;
left:0;
height: 100vh;
width:100vw;
overflow: hidden;
perspective: 500px;
}

#status {
width: 200px;
height: 200px;
position: absolute;
left: 50%;
top: 50%;
background-image: url(/graphics/layout/round3.png);
background-repeat: no-repeat;
background-position: center;
margin: -100px 0 0 -100px;
  transform: rotateY(45deg);
    animation: rotateAnimation 1s linear infinite;
}

@keyframes rotateAnimation {
  from {
    transform: rotateY(45deg);
  }

  to {
    transform: rotateY(225deg);
  }
}