<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/aboutme.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <title>INFO</title>

</head>

<body>
        {% include 'preloader.njk' %}


  <main>
    <header><span>INFORMATION</span></header>
    
    <ul class="nav">
      <a href="webmaster.html">
        <li>about me</li>
      </a>
      <a href="meta.html">
        <li>about the site</li>
      </a>
    </ul>

{% include 'about_me.njk' %}


        {% include 'home.njk' %}


  </main>


</body>

</html>