<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Explore</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/explore.css">
  <link rel="stylesheet" href="/css/fonts.css">


</head>

<body>
          {% include 'preloader.njk' %}

  <main>
    <div id="logo" alt="EXPLORE"></div>

    <nav>
      <a href="oekaki">
        <div class="item">
          <img src="/assets/graphics/layout/explore-oe.png" alt="" class="menu">
          <div class="desc">
            <h3>Oekaki Board</h3>
            <p>Interactive drawing message board.</p>
          </div>
        </div>
      </a>
      <a href="/medialog">
        <div class="item">
          <img src="/assets/graphics/layout/explore-media.png" alt="" class="menu">
          <div class="desc">
            <h3>Medialog</h3>
            <p>Stuff I've been reading, playing and watching.</p>
          </div>
        </div>
      </a>
      <a href="/scrapbook">
        <div class="item">
          <img src="/assets/graphics/layout/explore-scrap.png" alt="" class="menu">
          <div class="desc">
            <h3>Scrapbook</h3>
            <p>Digital collages and photo diary.</p>
          </div>
        </div>
      </a>
      <a href="/shrines/fantasprite">
        <div class="item">
          <img src="/assets/graphics/layout/explore-fantasprite.png" alt="" class="menu">
          <div class="desc">
            <h3>Fantasprite Shrine</h3>
            <p>Shrine/gallery for my OC ship, fantasprite.</p>
          </div>
        </div>
      </a>

    </nav>

    <a href="/" class="gohome">
      <img src="/assets/graphics/pixels/home.gif" alt=""> go home
    </a>
  </main>

</body>

</html>