<head>
  <style>
    .gohome {
      display: block;
      text-align: left;
}
</style>
</head>
<body>
  <a href="../" class="gohome">
    <img src="/assets/graphics/pixels/home.gif" alt=""> go home
  </a>