<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/medialog.css">
  <title>MEDIALOG</title>
</head>

<body>
          {% include 'preloader.njk' %}

  <header>
    <h1>medialog</h1>
    <ul class="nav">
      (
      <a href="/medialog/">
        <li class="first">post index</li>
      </a>
      <a href="rubric">
        <li class="second">grading guide</li>
      </a>
      <a href="index">
        <li class="third">index</li>
      </a>
      )
    </ul>
  </header>

  <section id="content">

    <aside>
      <div id="picture"></div>
      <div id="sidebar">
        <div id="description">
          <b>the wise man bowed his head solemnly and spoke: "theres actually zero difference between good & bad things.
            you
            imbecile. you fucking moron"</b>
          <p>
            Welcome to my medialog, where I keep track of stuff I've watched, played, read and listened to lately <i>(at
              least, the stuff I have things to say about.)</i>
          </p>
          <p>Spoilers are generally marked, but don't read the entries for anything you want to go in blind to.</p>
        </div>
      </div>
    </aside>
    <main>
              <article class="{{ type }}">
              <h3 class="mediatitle"><a href="{{ permalink }}">{{ title }}</a></h3>
              <img src="{{ cover }}" class="cover">
              <div class="summary">
              <ul class="infotable">
                <li><b>logged on:</b><span class="date">{{date | postDate}}</span></li>
                <li><b>ratings:</b><span class="rating">
                {% for emoji in ratings %}<img src="/assets/graphics/medialog/ratings/{{ emoji }}.png">{% endfor %}
                 </span></li>
              </ul>
              {{ content | safe }}
              </div>
              </article>
    </main>

  </section>


</body>

</html>