          <a href=/meta>
            <li class="menu1">information</li>
          </a>
          <a href="/art">
            <li class="menu2">artwork</li>
          </a>
          <a href=/blog>
            <li class="menu1">blog</li>
          </a>
          <a href=/explore>
            <li class="menu1">explore</li>
          </a>
          <a href="//oekaki.freakphone.net">
            <li class="menu1">oekaki</li>
          </a>
          <a href="">
            <li class="menu4 ia">for you</li>
          </a>
          <a href=/links>
            <li class="menu5">links</li>
          </a>