<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GALLERY</title>

  <link rel="stylesheet" href="/css/art.css">
</head>

<body>
          {% include 'preloader.njk' %}

  <div id="container" class="flex">
    <aside class="flex">
      <div class="bar">
        <span>GALLERY</span>
      </div>
      <hr>
      <div id="description">
        {{ content | safe }}
      </div>
      <!--
      
      <ul class="nav">
        <a href="log"><li class="li1">sketchlog</li></a>
        <a href="oc"><li class="li2">oc wiki</li></a>
        <a href="shop"><li class="li3">shop</li></a>
        <a href="/about.html#faq"><li class="li4">art faq</li></a>
        <a href="commissions"><li class="li5">commission info</li></a>

      </ul>
      -->
      <div id="spacey" class="landing"></div>
    </aside>
    <main class="flex">
      <div class="bar"></div>
      <hr>
      <div id="content" class="mainpage flex">
        <div id="choose"></div>
        <div id="menu">
          <a href="illustration">
            <div class="button">
              <div class="box box1"></div>
              <div class="title">Illustration</div>
            </div>
          </a>
          <a href="design">
            <div class="button">
              <div class="box box2"></div>
              <div class="title">Character Design</div>
            </div>
          </a>
          <a href="log">
            <div class="button">
              <div class="box box3"></div>
              <div class="title">Sketchlog</div>
            </div>
          </a>
          <a href="oc" class="ia">
            <div class="button">
              <div class="box box4"></div>
              <div class="title">My OCs</div>
            </div>
          </a>
          <a href="games" class="ia">
            <div class="button">
              <div class="box box5"></div>
              <div class="title">Games & Interactive</div>
            </div>
          </a>
          <a href="crafts" class="ia">
            <div class="button">
              <div class="box box6"></div>
              <div class="title">Crafts</div>
            </div>
          </a>
        </div>


      </div>
    </main>
    <footer></footer>
    <span class="gohome"> <a href="../">go home</a></span>
  </div>
</body>

</html>