<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>://BLOGZONE</title>
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="shortcut icon" href="favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/blog.css">
</head>

<body>
          {% include 'preloader.njk' %}


  <div id="container">
    <header></header>
    <aside></aside>
    <main>

      <div id="entry" class="entry">

          <div class="entryheader">
            <img src="{{ cover }}" class="cover">
            <div class="info">
              <h1>{{ title }}</h1>
              <span class="date">posted on {{ date | postDate}} - {% for category in categories %}#
                {{category}} {% endfor %}</span>
            </div>
          </div>

        {{ content | safe }}


      </div>


    </main>
  </div>

</body>




</html>