<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>://BLOGZONE</title>
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="shortcut icon" href="favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/blog.css">
</head>

<body>
          {% include 'preloader.njk' %}


  <div id="container">
    <header></header>
    <nav>
      <a href="/">home</a>
      <a href="/blog/tags">tags</a>
      <a href="/medialog">medialog</a>
    </nav>
    <aside></aside>
    <main>

      <div id="entries">

        {{ content | safe }}


      </div>


    </main>
  </div>

</body>




</html>